.container{ 
    position: relative;
    height: 100px;
    bottom: 50px;
    top: 500px;
    width: 100%;
    align-items: center;
    margin-top: 30px;
    font-family: Okra, Helvetica, sans-serif;
    
}

.logo{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    position: relative;
    justify-self: right;
    height: 2.8rem;
    width: 13.2rem;
    font-size: 1.6rem;
    gap: 20px;
}

.black{
    position: relative;
    left: 80px;
    top: 15px;
}
.lang{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    border: 1px solid black;
    background-color: white;
    padding: 5px 10px 0px 0px;
    position: relative;
    left: 380px;
    margin-top: 7px;
    width: 3.5rem;
    height: 2rem;
    display: inline-block;
}

.btn{
    position: relative;
    height: 40px;
    width:25px;
    margin-bottom: 5px;
    right: 10px;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.flag{
    position: relative;
    bottom: 28px;
    right: 35px;
}

.arrow{
    position: relative;
    bottom: 55px;
    left: 45px;
    font-size: 1.6rem;
}

.downarrow{
    position: relative;
    bottom: 55px;
    left: 60px;
    right: 18px;
    font-size: 1.6rem;
}

.english{
    position: relative;
    bottom: 30px;
    right: 30px;
}

.dropdown{
    position: relative;
    left: 350px;
}

.language{
    justify-content: flex-end;
    position: relative;
    border: 2px solid black;
    background-color: white; 
    padding: 5px 10px 5px 5px; 
    position: relative;
    margin-bottom: 10px;

}

.mediaicons{
    border:  1px black;
    border-radius: 25px;
    padding: 20px;

}

.app{
    color: #1F3A4F;
    filter: unset;
    opacity: 1;
    left: 15px;
    height: 5px;
    width: 10px;
}

.playicon{
    color: #1F3A4F;
    border-radius: inherit;
    top: 10px;
    height: 147px;
    width: 40px;
    position: relative;
    left: 40px;
    
}
.row{
    width: 110%;
    display: flex;
    justify-content: center;
    margin-top: 40PX;
}

/* .list{
    border: 1px solid red;
    background-color: grey;
} */