.mobilephone{
    position: relative;
    bottom: 1400px;
}

.phoneapp{
    height: 290px;
    width: 300px;
    position: relative;
    right: 400px;
    bottom: 80px;
}

.open{
    position: relative;
    top: 15px;
    font-family: Okra, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
}

.send{
    position: relative;
    left: 60px;
}

.theapp{
    position: relative;
    right: 140px;
    bottom: 9px;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
    accent-color : #EF4F5F;
}
input{
    border: 0.1rem solid rgb(207, 207, 207);
    /* border: 0.15rem solid rgb(224, 53, 70); */
    background: rgb(255, 255, 255);
    border-radius: 0.6rem;
    font-size: 18px;
    padding-right: 110px;
    height: 4.1rem;
}

.inputgroup{
    position: absolute;
    bottom: 420px;
    right: 650px;
}

.em{
    position: relative;
    bottom: 230px;
}

.mail{
    position: relative;
    left: 10px;
    font-size: 1.2rem;
}

.number{
    position: relative;
    left: 80px;
    border: 1px solid rgb(207, 207, 207);
}

.mobilenumber{
    position: relative;
    left: 95px;
    font-size: 1.2rem;
}

select{
    padding-top: 22px;
    padding-bottom: 18px;
    border-radius: 5px;
    border: 1px solid rgb(207, 207, 207);
    background: rgb(255, 255, 255);
    line-height: 1.2;
    
}


.applink{
    position:absolute;
    left: 800px;
    bottom: 315px;
    border: 1px solid rgb(239, 79, 95);
    border-radius: 0.6rem;
    outline: none !important;
    font-size: 1.4rem;
    line-height: 35px;
    cursor: pointer;
    background-color: rgb(239, 79, 95);;
    color: #fff;
    padding-left:8px;
    font-weight: 300;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 10px;  
    transition: transform 0.25s, opacity 0.25s, box-shadow 0.25s;
} 

.download-app{
    position: relative;
    bottom: 205px;
    right: 85px;
    color: rgb(156, 156, 156);
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 300;
}

.play{
    position: relative;
    bottom: 198px;
    height: 50px;
    width: 157px;
    right: 11px;
    
}

.appplay{
    position: relative;
    bottom: 198px;
    height: 50px;
    width: 157px;
    left: 20px;
}
