h1.collect{
    position: relative;
    top: 50px;
    right: 380px;
}

.trend{
    position: relative;
    top: 40px;
    right: 157px;
}

.all{
    position: relative;
    left: 500px;
    bottom: 65px;
    color: #E03546;
}
.right-arrow{
    position: relative;
    left: 607px;
    font-size: 20px;
    bottom: 41px;
    color: #E03546;
}

.places{
    position: relative;
    right: 380px;
    bottom: 20px;
    height: 310px;
    width: 240px;
    border-radius: 0.6rem;
    cursor: pointer;
}

.new{
    position: relative;
    right: 398px;
    bottom: 79px;
    color: #fff;
    font-family: Okra, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-overflow: ellipsis;
}

.eighteen{
    position: relative;
    bottom: 15px;
    right: 46px;
}

.mdarrow{
    position: relative;
    bottom: 55px;
}

.sea{
    position: relative;
    right: 132px;
    bottom: 434px;
    height: 310px;
    width: 240px;
    border-radius: 0.6rem;
    cursor: pointer;
}
.card-text{
    position: relative;
    bottom: 495px;
    color: #fff;
    right: 175px;
    font-size: 1.1rem;
    font-weight: 500;
    text-overflow: ellipsis;
}

.nine{
    position: relative;
    right: 30px;
    bottom: 18px;
}

.view{
    position: relative;
    left: 13px;
    top: -61px;
}

.phone{
    position: relative;
    bottom: 852px;
    left: 116px;
    height: 310px;
    width: 240px;
    border-radius: 0.6rem;
    cursor: pointer;
}

.insta{
    position: relative;
    bottom: 915px;
    left: 105px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    text-overflow: ellipsis;
}

.eleven{
    position: relative;
    right: 60px;
    bottom: 19px;
}

.phonearrow{
    position: relative;
    bottom: 60px;
    right: 14px;
}

.food{
    position: relative;
    height: 310px;
    width: 240px;
    border-radius: 0.6rem;
    cursor: pointer;
    bottom: 1273px;
    left: 363px;
}

.town{
    position: relative;
    bottom: 1328px;
    left: 340px;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    text-overflow: ellipsis;
}

.thirteen{
    position: relative;
    right: 43px;
    bottom: 20px;
    font-size: 1.1rem;
}

.foodarrow{
    position: relative;
    bottom: 61px;
    left: 5px;
}